<div *ngIf="dataAvailable; else dataFallback">
  <p-scrollPanel
    [style]="{
      padding: '5px',
      width: '100%',
      height: '2000px',
      'justify-content': 'center',
    }"
    styleClass="custombar1"
  >
    <!-- Large screen view -->
    <div *ngIf="!isSmallScreen; else smallScreen">
      <p-timeline
        [style]="{ display: 'inline', padding: '20px', height: '100%' }"
        [value]="stories"
      >
        <ng-template
          [style]="{ display: 'inline' }"
          [style]="{ height: '100%' }"
          pTemplate="marker"
          let-story
        >
          <span [style]="{ display: 'inline' }" class="custom-marker shadow-2">
            <i class="pi pi-book"></i>
          </span>
        </ng-template>

        <ng-template
          [style]="{ display: 'inline' }"
          id="stories"
          pTemplate="opposite"
          let-story
        >
          <p-card class="card" [header]="story.title">
            {{ story.summary }} <br /><br />
            <a [href]="story.sourceUri">Source</a>
            <br /><br />

            <div *ngFor="let comment of comments">
              <div
                id="comments"
                *ngIf="
                  comment.externalId == story.externalId &&
                  story.externalId != 0
                "
              >
                <div class="subheading">What people are saying:</div>
                {{ comment.summary }}
                <br /><br />
                <a
                  [href]="
                    'https://news.ycombinator.com/item?id=' + story.externalId
                  "
                  >Discussion</a
                >
              </div>
            </div>
          </p-card>
        </ng-template>
        <ng-template
          [style]="{ display: 'inline' }"
          pTemplate="content"
          let-story
        >
          {{ story.createdDate }}
        </ng-template>
      </p-timeline>
    </div>
    <!-- Small screen view -->
    <ng-template [style]="{ padding: '20px' }" #smallScreen>
      <div *ngFor="let story of stories">
        <span [style]="{ display: 'inline' }" class="custom-marker shadow-2">
          <i class="pi pi-book"></i>
        </span>
        {{ story.createdDate }}

        <p-card
          [style]="{ padding: '20px' }"
          class="card"
          [header]="story.title"
        >
          {{ story.summary }}
          <br /><br />
          <a [href]="story.sourceUri">Source</a>
          <br /><br />
          <div *ngFor="let comment of comments">
            <div
              id="comments"
              *ngIf="
                comment.externalId == story.externalId && story.externalId != 0
              "
            >
              <div class="subheading">What people are saying:</div>

              {{ comment.summary }}
              <br /><br />
              <a
                [href]="
                  'https://news.ycombinator.com/item?id=' + story.externalId
                "
                >Discussion</a
              >
            </div>
          </div>
        </p-card>
      </div>
    </ng-template>
  </p-scrollPanel>
</div>

<!-- Fallback for when API data is not available -->
<ng-template [style]="{ display: 'flex' }" #dataFallback>
  <div
    [style]="{
      display: 'flex',
      flexDirection: 'column',
      padding: '20px',
    }"
  >
    <div>
      Loading... <br /><br />
      It may take up to 50 seconds for the service to start up.<br />
      This is a hobby project on a free instance. Thank you for waiting.
    </div>

    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    <button (click)="reload()">Click here to try again</button>
  </div>
</ng-template>
