.content {
  text-align: center;
  height: 100%;
  fill: true;
}

.main {
  height: 100%;
  fill: true;
}

#p-splitter {
  background-color:brown;
  height: 100%;
  fill: true;
}

#summariesParent {
  padding: 20px;
  align-content: center;
}

#summaries {
  padding: 20px;

  align-content: center;
}


#timeline-small {
  padding: 20px;
  align-content: center;
}

#timeline-split {
  padding: 20px;
  align-content: center;
}

#title-text
{
text-align: left;
}

.p-timeline-event {

    display: flex;
    position: relative;
    min-height: 70px;
}
