/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html,
body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-screen {
  background-color: black;

  width: 100%;
  height: 100%;
}

:root {
  background-color: black;
  height: 100%;
  fill: true;
  margin: 0;
  padding: 0;
  size: 100%;
}
